.proyecto__img {
  width: 70%;
}

/* Estilos generales para pantallas pequeñas (teléfonos móviles) */
@media (max-width: 768px) {
  .biciklo__img{
    width: 250px;
  }
}

/* Estilos para tabletas y pantallas más grandes */
@media (min-width: 769px) and (max-width: 1024px) {
  .biciklo__img{
    width: 250px;
  }
}

/* Estilos para pantallas de escritorio */
@media (min-width: 1025px) {
  .biciklo__img{
    width: 350px;
  }
}
