:root {
  --background: #f8f0fb;
  --color-primario: rgba(3,0,36,1);
  --color-secundario: rgba(3,0,36,1);
  --color-terciario: rgba(3,0,36,1);
  --color-cuaternario: #cecece;
  
  --font-Rubik: "Rubik", sans-serif;
  --tamaño-titulo: 2.25rem;

  --mobile-width: 6rem 0.7rem 0 0.7rem;

  --barra-habilidades-legth: 0%;
  --color-barra: #ffff;
}
